* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway;
}


.home,
.reports,
.products,
.team,
.reports {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.sideBar_container,
#content {
  display: flex;
  height: 100%;

}

#content {
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin-bottom: 20px;
}

#wrapperUploadPortal,
#overviewWrapper,
#WrapperTodoList,
#supportWrapper {
  text-align: center;
  font-size: 15pt;
}

#wrapperUploadPortal.h2 #overviewWrapper.h2,
#WrapperTodoList.h2,
#supportWrapper.h2 {
  font-size: 30pt;
}

div.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

button {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #0e1c36;
  border: solid 2px #0e1c36;
  border-radius: 3px;
  transition: .4s;
  background: white;
}

button:hover {
  background: #0e1c36;
  color: white;
}

input {
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 26.4px;
  height: 40px;
  border: 0;
  /* width: calc(100% - 2px); */
  margin-left: 1px;
  box-shadow: 0px 8px 0px -7px #ebebeb, 0px 8px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

input:focus {
  outline: none;
  box-shadow: 0px 10px 0px -7px #4EA6EA, 0px 10px 0px -7px #4EA6EA;
}

#supportWrapper {
  text-align: center;
}


#buttonMailto {
  margin-top: 1em;
}

#wrapperSalesbyDept,
#WrapperSalesSummary,
#WrapperLabornSales,
#WrapperLogout {
  text-align: center;
  font-size: 15pt;
  margin-bottom: 1em;
}

.filter {
  position: block;
  width: 200px;
  float: right;
  margin-left: 10px;
}

#summarySalesChartWrapper {
  text-align: center;
  font-size: small;
}